* {
	box-sizing: border-box;
}

body {
 font-family: sans serif;
}

.masthead {
	text-align: center;
}

#container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex: 50%;
	padding: 1em;
}

#task_form {
	height: 3em;
	width: 90%
}

#save_button {
	height: 2.5em;
	margin: 6px 0;
	background-color: #a1f0a1;
	border: 2px solid #a1f0a1;
	border-radius: 6px;
	width: 35%;
	font-weight: bold;
}

.task_list {
	background: #eeefef;
}

span {
	padding: 0 0.3em;
}